.breadcrumbs {
    margin: 15px 0 25px;
    font-size: 15px;
    color: #444;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.separator {
    color: #aaa;
}

.current {
    color: #000;
    font-weight: 500;
}
