.page {
    background: #fff;
    padding: 1.5rem 3rem 3rem;
    font-family: "Georgia", "Times New Roman", serif;
    color: #000;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.layout {
    display: flex;
    gap: 2rem;
}

.items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.item {
    background: #ddd;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.8rem 1.4rem 1.4rem 1.4rem;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.itemHeader {
    font-size: 1.6rem;
    font-weight: 600;
}

.infoLine {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.infoLine span b {
    font-weight: 500;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    transition: transform 0.2s ease, color 0.2s ease;
}

.itemImageWrapper {
    width: 220px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9a3131;
}

.itemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.summary {
    width: 320px;
    background: #ddd;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.summaryTitle {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 900px) {
    .page {
        padding: 1.5rem 1rem 2.5rem;
    }

    .layout {
        flex-direction: column;
    }

    .item {
        flex-direction: column;
    }

    .infoLine {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .summary {
        width: 100%;
    }
}

