.input {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    background: #f3f3f3;
    font-family: "Georgia", "Times New Roman", serif;
}

.input:focus {
    outline: none;
    background: #fff;
}
