.hero {
    display: flex;
    height: calc(100vh - 60px);
    background: #fff;
    overflow: hidden;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftInner {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtitle {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 400;
    font-family: "Georgia", "Times New Roman", serif;
    color: #000;
}

.title {
    font-size: 3.9rem;
    line-height: 1;
    font-weight: 400;
    font-family: "Georgia", "Times New Roman", serif;
    margin-top: -0.4rem;
}

.btn:hover {
    background: white;
    color: black;
}

.note {
    font-size: 0.7rem;
    line-height: 1.4;
    color: #000;
    margin-top: 1.5rem;
    max-width: 300px;
}

.right {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

